*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-image: url(Resources/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    padding: 30px 0;
    margin-left: 0vh;
    width: 100%;
    height: 30px;
    align-items: center;
    border-bottom: 20px;
    background-color: #B76E79 ;
}
.title{
    font-family: Grand Hotel;
    font-size: 50px;
    color:#ff9baa;
}
nav ul{
    padding-bottom: 0;
    margin-left: 10vh;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 35px 20px;
    border-bottom: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 15px;
}
li a:hover{
    color: #ffa8d6;
    transition: 0.25s ease-in-out;
}
.gallery {
    margin-top: 22.5vh;
    width: 100%;
    margin-left: -275vh;
}
.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 100px;
    position: relative;
}
.gallery-item{
    height: 400px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
.gallery-item-1{
    width: 300px;
    height: 250px;
    left: -500%;
    opacity: .2;
    transform: translateX(-50%);
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
}
.gallery-item-2, .gallery-item-8{
    height: 300px;
    opacity: 0.4;
    width: 350px;
    z-index: 1;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
}
.gallery-item-3, .gallery-item-7{
    height: 350px;
    opacity: 0.6;
    width: 375px;
    z-index: 2;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
}
.gallery-item-4, .gallery-item-6{
    height: 400px;
    opacity: 0.8;
    width: 450px;
    z-index: 3;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
}
.gallery-item-2 {
    left: -390%;
    transform: translateX(-50%);
}
.gallery-item-3{
    left: -280%;
    transform: translateX(-50%);
}
.gallery-item-4{
    left: -160%;
    transform: translateX(-50%);
}
.gallery-item-5{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 500px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    z-index: 4;
}
.gallery-item-6{
    left: 260%;
    transform: translateX(-50%);
}
.gallery-item-7{
    left: 380%;
    transform: translateX(-50%);
}
.gallery-item-8{
    left: 490%;
    transform: translateX(-50%);
}
.gallery-item-9{
    height: 250px;
    left: 600%;
    opacity: .2;
    width: 300px;
    transform: translateX(-50%);
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
}
.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button{
    background-color: transparent;
    border: 0;
    top: 20px;
    cursor: pointer;
    font-size: 40px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}
.gallery-controls button:hover{
    color: #B76E79;
}
.gallery-controls-button:focus{
    outline: none;
}
.gallery-controls-previous{
    position: relative;
}
.gallery-controls-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: " ";
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}
.gallery-controls-previous:hover::before{
    left: -40px;
    border: solid #B76E79;
    border-width: 0 5px 5px 0;
}
.gallery-controls-next{
    position: relative;
}
.gallery-controls-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: " ";
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}
.gallery-controls-next:hover::before{
    right: -50px;
    border: solid #B76E79;
    border-width: 0 5px 5px 0;
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.gallery nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}
.gallery-nav li.gallery-item-selected{
    background: #555;
}

.gallery-controls-previous, .gallery-controls-next {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
}



@media (max-width: 600px) {
    body{
        width: 100%;
        margin-right: 600px;
    }
    .title{
        font-family: Grand Hotel;
        font-size: 40px;
        color:#ff9baa;
    }
    nav ul{
        margin-left: 5px;
    }
    nav ul li{
        margin: 30px 16px;
        border-bottom: 10px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px 10px;
        margin-left: -5px;
    }
    .option1:after{
        content: "";
        position: absolute;
        top: 9vh;
        left: 45vh;
        width: 0;
        height: 3px;
        background: #ffa8d6;
        transition: .3s;
        bottom: 0;
    }
    
    .option1:hover:after{
        width: 10%;
    }
    .option2:after{
        content: "";
        position: absolute;
        top: 9vh;
        left: 59vh;
        width: 0;
        height: 3px;
        background: #ffa8d6;
        transition: .3s;
        bottom: 0;
    }
    .option2:hover:after{
        width: 13%;
    }
    .gallery {
        margin-top: 20.5vh;
        width: 100%;
        margin-left: -150vh;
    }
    .gallery-container {
        align-items: center;
        display: flex;
        height: 400px;
        margin: 0 auto;
        max-width: 100px;
        position: relative;
    }
    .gallery-item{
        height: 400px;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 330px;
        z-index: 0;
        border-radius: 15px;
        background-size: contain;
    }
    .gallery-item-1{
        width: 150px;
        height: 125px;
        left: -500%;
        opacity: .2;
        transform: translateX(-50%);
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }
    .gallery-item-2, .gallery-item-8{
        height: 150px;
        opacity: 0.4;
        width: 175px;
        z-index: 1;
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }
    .gallery-item-3, .gallery-item-7{
        height: 175px;
        opacity: 0.6;
        width: 187.5px;
        z-index: 2;
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }
    .gallery-item-4, .gallery-item-6{
        height: 200px;
        opacity: 0.8;
        width: 225px;
        z-index: 3;
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }
    .gallery-item-2 {
        left: -390%;
        transform: translateX(-50%);
    }
    .gallery-item-3{
        left: -280%;
        transform: translateX(-50%);
    }
    .gallery-item-4{
        left: -90%;
        transform: translateX(-50%);
    }
    .gallery-item-5{
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
        height: 250px;
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        z-index: 4;
    }
    .gallery-item-6{
        left: 190%;
        transform: translateX(-50%);
    }
    .gallery-item-7{
        left: 380%;
        transform: translateX(-50%);
    }
    .gallery-item-8{
        left: 490%;
        transform: translateX(-50%);
    }
    .gallery-item-9{
        height: 125px;
        left: 600%;
        opacity: .2;
        width: 150px;
        transform: translateX(-50%);
        box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    }
}
